*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;

}
html,body{
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    background-color: #003;
}
.wrap{
    width: 1200px;
    display: flex;
    margin: auto;
}
.item{
    width: 368px;
    margin: 15px;
    text-align: center;
    background-color: #fff;
    border: 5px solid #ccc;
    transform: translateY(0px);
    transition: .5s;

}
.item img{
    width: 100%;
    vertical-align: middle;
}
.item h2{
    border-bottom: 1px solid #888;
    padding-bottom: .3em;
    margin-bottom: .4em;
    font-weight: 900;
    transition: .5s;

}
.item p{
    line-height: 1.6;
    font-weight: 300;
    transition: .5s;

}
.item .txt{
    padding: 20px;
    position: relative;
}
.item .txt::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    border-top: 50px solid transparent;
    border-left: 180px solid #fff;
    border-right: 180px solid #fff;
    transform: translateY(-100%);
}
.item:hover{
    transform: translateY(-50px);
}
.item:hover .txt{
    background-image: linear-gradient(0deg,#FB8076,#FEB85D);
}
.item:hover .txt::before{
    border-left: 180px solid #FEB85D;
    border-right: 180px solid #FEB85D;
}
.item:hover h2{
    color: greenyellow;
    border-bottom-color: #fff;
}
.item:hover p{
    color: #fff;
}